@import url(normalize.css);

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    color: white;
}



header {
    border-top: 4px solid black;
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}
a:hover {
    color: #6F9AAB;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

.topMain {
    width: 595px;
    height: 842px;
    background-color: #2E6583;
}

.topMain:hover {
    @import url();

}


header, footer {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.name_position {
    width: 197px;
    height: 60px;
}

.image {
    width: 72px;
    height: 72px;
    border: 5px solid #2E6583;
    border-radius: 50px;
    background-color: #A2BFC7;
}

.name {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.position {
    font-size: 20px;
    margin: 0;
    padding: 0;
}



.main1 {
    padding: 10px;
    width: 66%;
    font-size: 12px;
    line-height: 20px;
}

.main2 {
    padding: 10px;
    width: 30%;
    font-size: 12px;
    line-height: 20px;
}

pre {
    font-weight: 600;
    color: aliceblue;
}

.logo {
    width: 100px;
    height: 100px;
}

.logo2 {
    width: 60px;
    height: 60px;
}



.contact, .workExp, .education, .engProfi, .skills, .aboutMe, .coding{
    padding: 5px;
    box-shadow: 3px 3px 6px 1px #2B4E64;
    border-radius: 5px;
    margin-bottom: 10px;
}

h3 {
    margin: 0;
}

