html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for 
	older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
    margin: 0 auto;
}

aside {
    border-top-right-radius: 25px;
    /* border-bottom-right-radius: 25px; */
    background-color: rgb(188, 230, 227);
    width: 37.5%;
    padding: 30px;
}

main {
    display: flex;
}

article {
    background-color: rgb(188, 230, 227);
    border-top-left-radius: 25px;
    /* border-bottom-left-radius: 25px; */
    display: flex;
    flex-direction: column;
    width: 62.5%;
    padding: 30px;
}

li {
    line-height: 35px;
}

p {
    line-height: 20px;
}

h1 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 25px;
}

h3 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

h4 {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 20px;
}

h5 {
    font-size: 20px;
    font-weight: bold;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(188, 230, 227);
    width: 800px;
}

a {
    text-decoration: none;
}

.code2 {
    font-weight: 600;
    line-height: 20px;
}

.qa_engineer {
    margin-bottom: 25px;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    font-size: 15px;
}

.name_and_firstname {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
}

.name {
    margin-bottom: 50px;
}

.experience {
    margin-bottom: 50px;
}

.code {
    margin-bottom: 50px;
}

.photo {
    margin-bottom: 25px;
}

.about_me {
    margin-bottom: 25px;
}

.skills {
    margin-bottom: 25px;
}

.languages {

    margin-bottom: 25px;
}

.github {
    display: flex;
    align-items: center;
    line-height: 20px;
}

footer div {
    margin: 0 20px 20px 20px;
}

.git_link {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}